/*Estilos globales*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: rgb(255, 255, 255);
}
/*Estilos de card*/
.card{
    display: block;
    background-color: #8C8C86;
    width: 400px;
    height: 600px;
    margin: 200px auto 10px auto; /*hacer una distibución equitativa del espacio disponible*/
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 128, 0);
}
.img{
    display: block;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: 20px auto;
}
.contenedor{
    display: block;
    margin: 50px auto 20px auto;
    width: 70%;
}
.titulo, .parrafo{
    display: block;
}
.titulo{
    text-align: center;
    font-size: 30px;
    color: #2D2723;
    margin: 10px auto 20px;
}
.parrafo{
    text-align: justify;
    font-size: 20px;
    color: #4e300f;
    margin: 10px auto 20px;
}
.boton{
    display: block;
    width: 100%;
    height: 30px;
    color: #fff;
    background-color: #560808;
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
}